@media (max-width: 1620px){
    /*header*/
    header{
        padding-left: 4%;
        padding-right: 4%;
    }
    #header_flex_container{
        margin: 0;
        margin-right: 110px;
    }
    /*\header*/

    /*gallery*/
    .gallery_img{
        height: 310px;
    }
    .gallery_img_container{
        height: 310px;
    }
    #gallery_imgs{
        width: 1200px;
    }
    /*\gallery*/

    /*footer*/
    #footer_flex_container a img{
        width: 190px;
    }
    #footer_flex_container a{
        height: 211.11px;
    }
    /*footer*/
}
@media (max-width: 1200px){
    /*gallery*/
    .gallery_img{
        height: 250px;
    }
    .gallery_img_container{
        height: 250px;
    }
    #gallery_imgs{
        width: 950px;
    }
    .gallery_text{
        width: 200px;
        height: 80px;
    }
    .gallery_text_container{
        bottom: 35%;
    }
    /*\gallery*/

    /*feedback*/
    .feedback_container{
        width: 450px;
        height: 250px;
    }
    #feedback_img + div{
        width: 250px;
    }
    /*\feedback*/

    /*why*/
    .why_flex_items{
        width: 260px;
        margin-bottom: 50px;
    }
    .why_flex_container{
        width: 950px;
    }
    /*\why*/

    /*footer*/
    #footer_flex_container a img{
        width: 150px;
    }
    #footer_flex_container a{
        height: 166.66px;
    }
    #footer_about{
    width: 370px;
    margin-right: 45px;
    }   
    #footer_forms_text{
    width: 300px;
    }    
    /*footer*/

    /*contact*/
    .contact_map{
        width: 900px;
    }
    #contact_container{
        width: 900px;
    }
    #contact_flex_container{
        width: 900px;
    }
    #contact_text{
        width: 300px;
    }
    #contact_form input{
        width: 300px;
    }
    /*\contact*/

    /*blog*/

    /*blog_section_1*/
    .b_1_item img{
        width: 290px;
    }
    .b_1_container{
        width: 960px;
    }
    .b_1_item_container{
        width: 250px;
        height: 140px
    }
    /*\blog_section_1*/

    /*blog_section_2*/
    #blog_section_2_container{
        width: auto;
    }
    #blog_aside{
        width: 230px;
        margin-right: 60px;
    }
    #blog_main{
        margin-left: 0;
    }
    .b_m_item_container{
        width: 450px;
    }
    .b_m_item_container > img{
        width: 450px;
        height: 230px;
    }
    #b_a_newsletter_form input{
        width: 78px;
    }
    .b_a_popular_items{
        height: 60px;
    }
    .b_a_popular_items_container > a > h3{
        margin: 0;
    }
    /*\blog_section_2*/

    /*\blog*/
}
