*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}
body{
    overflow-x: hidden;
}

/*header*/
header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    padding-left: 7.5%;
    padding-right: 7.5%;
}
#header_flex_container{
    display: flex;
    justify-content: space-around;
    width: 620px;
    margin-left: 28%;
    position: relative;
}
#header_flex_container > a > div{
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 12px;
    transition: color 0.75s;
    font-weight: 500;
}
#header_flex_container > a > div:hover{
    color: #fcdc00;
}
#header_blog_display{
    position: absolute;
    z-index: 100;
    background-color: #ffffff;
    right: 0;
    bottom: -80px;
    display: none;
}
.header_blog_display_el{
    width: 150px;
    height: 40px;
    font-size: 12px;
    color: #222222;
    padding-left: 30px;
    display: flex;
    align-items: center;
    transition: background 0.5s;
}
.header_blog_display_el:hover{
    background-color: #fcdc00;
}
#header_blog:hover ~ #header_blog_display, #header_blog_display:hover{
    display: block;
}
/*\header*/

/*home*/
.home{
    width: 100%;
    background-image: url(imgs/home/home-banner.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
#home_title{
    font-size: 48px;
    font-weight: 700;
}
#home_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#home_text_icon{
    width: 18px;
    height: 18px;
    margin-left: 4px;
    background-image: url(icons/arrow_white.svg);
    transition: all 0.5s;
    background-position: center;
    background-size: contain;
}
#home_text{
    display: flex;
    justify-content: space-between;
    width: 120px;
}
#home_text *{
    transition: all 0.5s;
}
#home_text *:hover{
    color: #fcdc00;
}
#home_text_home{
    display: flex;
    align-items: center;
}
#home_text_home:hover > div{
    background-image: url(icons/arrow_yellow.svg);
}
/*\home*/

/*main home*/
#main_home{
    height: 900px;
}
#main_home_container{
    width: 560px;
    height: 240px;
    background-color: #000000;
    position: relative;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}
#main_home_title{
    font-size: 36px;
    font-weight: 200;
    margin-top: 50px;
    margin-bottom: 20px;
}
#main_home_btn{
    padding: 10px  28px;
    color: #222222;
    background-color: #fcdc00;
    position: absolute;
    transform: translate(50%, 50%);
    bottom: 0px;
    right: 50%;
    text-transform: uppercase; 
    font-weight: 600;
}
/*\main home*/

/*gallery*/
#gallery{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#gallery_view{
    display: flex;
    margin-top: 120px;
    margin-bottom: 75px;
}
#gallery_view > div{
    padding: 15px 30px;
    color: #222222;
    transition: background 0.5s;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 1px;
}
.gallery_img_container{
    position: relative;
    height: 450px;
    margin-bottom: 30px;
}
.gallery_text_container{
    position: absolute;
    transform: translate(50%,50%);
    bottom: 16%;
    right: 50%;
    text-align: center;
    transition: bottom 0.5s;
    overflow-y: hidden;
    z-index: 3;
}
.gallery_text{
    height: 60px;
    display: block;
    width: 250px;
    font-size: 18px;
    font-weight: 600;
}
.gallery_icon{
    position: absolute;
    right: 50%;
    bottom: -100px;
    transform: translate(50%,50%);
    transition: all 0.3s;
}
.gallery_opacity{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    transition: z-index 0.2s;
}
.gallery_img_container:hover > .gallery_opacity{
    z-index: 2;
}
.gallery_img_container:hover > div  {
    bottom: 55%;
}
.gallery_img_container:hover > div > a{
    bottom: 10px;
}
#gallery_imgs{
    width: 1650px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#gallery_btn{
    background-color: #fcdc00;
    text-transform: uppercase;
    color: #222222;
    padding: 10px 28px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 90px;
}

/*radio*/
.gallery_radio{
    height: 48.4px;
    margin-right: 1px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
#all{width: 79.609px;}
#approved{width: 123.828px; margin-left: 80.609px;}
#unapproved{width: 141px; margin-left: 205.437px;}
#unviewed{width: 122.719px; margin-left: 347.437px;}
.gallery_radio:hover + div, .gallery_radio:checked + div{background-color: #fcdc00;}
/*\radio*/

/*\gallery*/

/*feedback*/
#feedback{
    width: 100%;
    height: 550px;
    background-color: #fcdc00;
    display: flex;
    justify-content: center;
    align-items: center;
}
#feedback_title{
    font-size: 36px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 18px;
}
#feedback_title + p{
    color: #222222;
}
.feedback_container{
    width: 550px;
    display: inline-block;
    height: 220px;
    padding-top: 35px;
}
#feedback_right_container > * > *{
    color: #777777
}
#feedback_name{
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 700;
    margin-top: 17px;
    color: #222222;
}
#feedback_img + div{
    width: 350px;
    margin-left: 150px;
}
#feedback_right_container{
    background-color: #ffffff;
    position: relative;
}
#feedback_img{
    position: absolute;
    top: 0;
    margin-top: 35px;
    margin-left: 40px;
}
/*\feedback*/

/*why*/
#why{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#why_title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
#why_title h2{
    font-size: 36px;
    font-weight: 600;
    color: #222222;
    margin-bottom: 10px;
}
#why_title p{
    color: #777777;
}
.why_flex_items{
    text-align: center;
    width: 350px;
    padding: 25px;
    transition: all 0.5s;
    margin-bottom: 30px;
}
.why_flex_items p{
    color: #777777;
    
    transition: all 0.5s;
}
.why_flex_items_title{
    color: #222222;
    font-size: 18px;
    margin-bottom: 20px;
}
.why_flex_container{
    display: flex;
    width: 1150px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 100px;
}
.why_flex_items:hover{
    background-color: #fcdc00;
}
.why_flex_items:hover p{
    color: #000000;
}
/*\why*/

/*footer*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#footer_btn{
    background-color: #fcdc00;
    padding: 22px 28px;
    color: #222222;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 75px;
}
#footer_flex_container{
    display: flex;
}
#footer_flex_container a{
    overflow: hidden;
    height: 300px;
}
#footer_flex_container a img{
    transition: all 0.3s;
}
#footer_flex_container a img:hover{
    transform: scale(1.1);
}
#footer_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;
    background-color: #04091e;;
}
.footer_titles{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
}
.footer_text{
    color: #777777;
}
#footer_about{
    width: 400px;
    height: 200px;
    margin-right: 100px;
}
#footer_forms{
    height: 200px;
}
#footer_forms form{
    display: flex;
    margin-top: 20px;
    position: relative;
}
#footer_forms form *{
    border: none;
}
#footer_forms_text{
    width: 400px;
    height: 45px;
}
#footer_forms_btn{
    width: 40px;
    height: 45px;
    cursor: pointer;
    background-color: #fcdc00;
}
#footer_forms_icon{
    position: absolute;
    right: 0;
    margin: 8px;
    margin-top: 12px;
}
#footer_follow{
    height: 200px;
    margin-left: 40px;
}
#footer_logos_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    margin-top: 20px;
}
.footer_logos{
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: contain;
    transition: all 0.5s;
}
#logo_facebook{background-image: url(icons/logos/facebook_white.svg);}
#logo_facebook:hover{background-image: url(icons/logos/facebook_yellow.svg);}
#logo_twitter{background-image: url(icons/logos/twitter_white.svg);}
#logo_twitter:hover{background-image: url(icons/logos/twitter_yellow.svg);}
#logo_dribbble{background-image: url(icons/logos/dribbble_white.svg);}
#logo_dribbble:hover{background-image: url(icons/logos/dribbble_yellow.svg);}
#logo_behance{background-image: url(icons/logos/behance_white.svg);}
#logo_behance:hover{background-image: url(icons/logos/behance_yellow.svg);}
/*footer*/

/*services*/
#services{
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 120px;
}
.services_icons{
    margin-bottom: 25px;
}
/*\services*/

/*about*/
#about{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    padding-top: 125px;
}
#about_img_container{
    position: relative;
}
#about_container{
    width: 86%;
    height: 300px;
    position: absolute;
    bottom: 150px;
    background-color: white;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 75px;
    padding-right: 75px;
    text-align: center;
}
#about_title{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 25px;
}
#about_text{
    
    
    color: #777777;
}
/*\about*/

/*contact*/
#contact{
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.contatos_title{
    font-size: 16px;
    color: #222222;
}
.contatos_text{
    
    color: #777777;
}
.contatos > *{
    display: inline-block;
}
.contatos{
    margin-bottom: 20px;
}
.contatos_icon{
    margin-right: 25px;
}
#contact_container{
    width: 1150px;
}
#contact_flex_container{
    width: 1150px;
    height: 300px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
#contact_form{
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}
#contact_form input{
    margin-bottom: 20px;
    width: 400px;
    border: none;
    color: #777777;
}
#contact_containers{
    display: flex;
}
#contact_text{
    width: 400px;
    border: none;
    resize: none;
}
#contact_btn{
    text-transform: uppercase;
    background: #fcdc00;
    color: #222222;
    
    font-weight: 600;
    padding: 0px 28px;
    line-height: 40px;
    position: absolute;
    right: 0;
    bottom: 75px;
}
.contact_map{
    width: 1150px;
    height: 400px;
}
/*\contact*/

/*blog*/

/*home*/
#blog_home{
    background-image: url(imgs/home/banner-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    height: 800px;
}
#blog_home_container{
    text-align: center;
    width: 650px;
    margin-top: 80px;
}
#blog_home_container h2{
    font-size: 60px;
    font-weight: 600;
    line-height: 66px;
    margin-bottom: 15px;
}
#blog_home_container p{
    font-size: 16px;
    margin-bottom: 35px;
}
#blog_home_container a{
    background: #fff;
    color: #222222;
    padding: 10px 38px;
    font-weight: 500;
    transition: 0.75s;
}
#blog_home_container a:hover{
    background: #fcdc00;
}
/*\home*/

/*blog_section_1*/
#blog_section_1{
    height: 300px;
    padding-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.b_1_container{
    display: flex;
    justify-content: space-around;
    width: 1170px;
}
.b_1_item{
    position: relative;
}
.b_1_item_container{
    background-color: rgba(34, 34, 34, 0.8);
    width: 320px;
    height: 180px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: background 0.8s;
}
.b_1_item_container a h3{
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff;
}
.b_1_line{
    width: 100%;
    height: 1px;
    margin: 10px 0px;
    background-color: #fff;
}
.b_1_item_container:hover{
    background-color: rgba(248, 182, 0, 0.8);
}
/*\blog_section_1*/

/*blog_section_2*/
#blog_section_2{
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
#blog_section_2_container{
    display: flex;
    width: 1200px;
}
/*main*/
#blog_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
    margin-right: 60px;
}
/*main_aside*/
.b_m_item_aside{
    width: 150px;
    margin-right: 40px;
    margin-top: 40px;
}
.b_m_item_aside > p{
    color: #222222;
    text-align: right;
    margin-bottom: 20px;
}
.b_m_item_aside_list{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.b_m_item_aside_list li{
    margin-bottom: 10px;
}
.b_m_item_aside_list li > a{
    display: flex;
    align-items: center;
}
.b_m_item_aside_list li a > *{
    display: inline-block;
}
.b_m_item_aside_list li a > p{
    color: #777777;
    margin-right: 15px;
    transition: all 0.5s;
}
.b_m_item_aside_list li a > p:hover{
    color: #fcdc00;
}
/*\main_aside*/

/*main_content*/
.b_m_item{
    display: flex;
    margin-bottom: 35px;
}
.b_m_title{
    font-size: 24px;
    line-height: 36px;
    color: #222222;
    font-weight: 600;
    transition: all 0.5s;
    margin: 10px 0;
}
.b_m_title:hover{
    color: #fcdc00;
}
.b_m_text{
    color: #777777;
}
.b_m_item_container{
    width: 555px;
}
.b_m_btn{
    padding: 0 40px;
    line-height: 40px;
    color: #222222;
    font-weight: 500;
    transition: all 0.5s;
    display: inline-block;
    margin-top: 30px;
}
.b_m_btn:hover{
    background-color: #fcdc00;
}
/*\main_content*/

/*\main*/

/*aside*/
#blog_aside{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#blog_aside > *{
    width: 100%;
}
.b_a_titles{
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    background-color: #fcdc00;
    margin-bottom: 20px;
}

/*top*/
#b_a_top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
#b_a_top_search{
    width: 100%;
    border-radius: 40px;
    padding: 6px 20px;
    background-color: #fcdc00;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 25px;
}
#b_a_input{
    color: #fff;
    background: transparent;
    border: transparent;
    line-height: 29px;
}
#b_a_top h3{
    font-size: 18px;
    line-height: 20px;
    color: #222222;
    margin-top: 25px;
    margin-bottom: 5px;
}
#b_a_top p{
    color: #777777;
    text-align: center;
}
.blog_logos{
    width: 15px;
    height: 15px;
    background-position: center;
    background-size: contain;
    transition: all 0.5s;
}
#blog_logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#blog_facebook{background-image: url(icons/blog/facebook.svg);}
#blog_facebook:hover{background-image: url(icons/blog/facebook_amarelo.svg);}
#blog_twitter{background-image: url(icons/blog/twitter.svg);}
#blog_twitter:hover{background-image: url(icons/blog/twitter_amarelo.svg);}
#blog_github{background-image: url(icons/blog/github.svg);}
#blog_github:hover{background-image: url(icons/blog/github_amarelo.svg);}
#blog_behance{background-image: url(icons/blog/behance.svg);}
#blog_behance:hover{background-image: url(icons/blog/behance_amarelo.svg);}
/*\top*/

/*posts*/
#b_a_popular{
    margin-bottom: 300px;
}
.b_a_popular_items{
    display: flex;
    margin-bottom: 20px;
}
.b_a_popular_items_container{
    margin-left: 20px;
}
.b_a_popular_items_container a > h3{
    line-height: 20px;
    color: #222222;
    margin-bottom: 6px;
    margin-top: 5px;
    transition: all 0.5s;
}
.b_a_popular_items_container a > h3:hover{
    color: #fcdc00;
}
.b_a_popular_items_container p{
    font-size: 12px;
    line-height: 21px;
    color: #777777;
}
/*\posts*/

/*categorias*/
#b_a_categorias{
    margin-bottom: 50px;
}
.b_a_categorias{
    border-bottom: 2px dotted transparent;
    padding: 12px 0px;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
}
.b_a_categorias > *{
    line-height: 20px;
    color: #777;
    transition: all 0.5s;
}
.b_a_categorias:hover,.b_a_categorias:hover > *{
    color: #fcdc00;
    border-color: #fcdc00;
}
/*\categorias*/

/*newsletter*/
#b_a_newsletter{
    margin-bottom: 50px;
}
#b_a_newsletter_form{
    width: 100%;
    display: flex;
    padding-left: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#b_a_newsletter_form input{
    border: none;
}
#b_a_newsletter_btn{
    padding: 8px 25px;
    background-color: #fcdc00;
    font-size: 12px;
    font-weight: 500;
}
#b_a_newslette_text{
    color: #777777;
    text-align: center;
    margin-top: 40px;
}
#b_a_newslette_subtext{
    font-size: 12px;
    color: #777777;
    text-align: center;
}
/*\newsletter*/

/*tags*/
#b_a_tags{
    display: flex;
    flex-wrap: wrap;
}
.b_a_tags_items{
    padding: 0px 13px;
    margin-bottom: 8px;
    color: #222222;
    font-size: 12px;
    transition: all 0.5s;
}
.b_a_tags_items:hover{
    background-color: #fcdc00;
    color: #fff;
}
/*\tags*/
/*\aside*/
/*\blog_section_2*/

/*blog_section_3*/
#blog_section_3{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 250px;
}
#b_3_flex_container{
    width: 650px;
    display: flex;
}
#b_3_indice_container{
    display: flex;
}
.b_3_indice{
    width: 45px;
    height: 35px;
    text-align: center;
    padding-top: 7px;
    color: #8a8a8a;
    transition: all 0.5s;
}
.b_3_indice:hover{
    background-color: #fcdc00;
    color: white;
}
.b_3_icons{
    background-position: center;
    background-repeat: no-repeat;
}
#b_3_icon_left{background-image: url(icons/blog/arrow_left.svg);}
#b_3_icon_left:hover{background-image: url(icons/blog/arrow_left_white.svg);}
#b_3_icon_right{background-image: url(icons/blog/arrow_right.svg);}
#b_3_icon_right:hover{background-image: url(icons/blog/arrow_right_white.svg);}
/*\blog_section_3*/

/*\blog*/